.AppBar {
  display: flex;
  font-size: 28px;
  padding: 10px;
  justify-content: space-around;
  margin-left: -80px;
}
.AppBar div {
  padding: 10px;
}
.list {
  width: 20%;
  display: flex;
  justify-content: space-around;
  margin-left: -50px;
}
.list a {
  padding: 0 30px;
}
.list a:hover {
  background-color: #f0f0f0;
}
.button {
  text-decoration: none;
  color: #000;
}

@media only screen and (max-width: 400px) {
  .AppBar {
    font-size: 20px;
  }
  .list a {
    padding: 0 5px;
  }
}
