.content {
  display: flex;
  justify-content: center;
  margin: 20px;
}
.content div {
  width: 30%;
  align-item: center;
  padding: 0 10px;
}
.contentTitle {
  font-size: 28px;
}
.contentDescription {
  width: 80%;
}
@media only screen and (max-width: 400px) {
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 20px 10px;
  }
  .content div {
    width: 95%;
    /* padding: 0 0; */
  }
  .contentImg {
    width: 100%;
  }
  .contentDescription {
    width: 100%;
  }
}
